{% extends 'base.html' %}
{% block content %}
    <h1>Listado de Posts</h1>
    {% if posts %}
        <div class="posts-container">
        {% for post in posts %}
            <div class="post-item">
                <h2>{{ post.titulo }}</h2>
                <p class="post-date">Creado el: {{ post.creado }}</p>
                <p>{{ post.contenido|truncatechars:200 }}</p>
                <a href="{% url 'post_detail' post.pk %}" class="btn">Leer más</a>
            </div>
        {% endfor %}
        </div>
    {% else %}
        <p>No hay posts disponibles.</p>
    {% endif %}
{% endblock %}