{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="form-container">
    <h1 class="form-title">
        {% if form.instance.pk %}Editar{% else %}Nuevo{% endif %} Post
    </h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <fieldset class="form-fieldset">
            <legend class="form-legend">Datos del Post</legend>
            {{ form.as_p }}
        </fieldset>
        <div class="form-actions">
            <button class="btn primary" type="submit">Guardar</button>
        </div>
    </form>
</div>
{% endblock %}