{% extends 'base.html' %}
{% block content %}
    <div class="container about-me-container">
        <h1>¡Bienvenido a Tu Primera Página! 👋</h1>
        <h4>Hola, soy Nicolás, el creador de este espacio. </h4>
        <p>
            Este blog nació de una idea simple: ser el recurso que me hubiera gustado tener cuando di mis primeros pasos en el mundo del desarrollo web. Sé lo emocionante y desafiante que es crear algo desde cero, y por eso, "Tu Primera Página" es un lugar para guiarte en cada etapa.
        </p>
        <p>
            Aquí compartiré mis experiencias, tutoriales prácticos y consejos sobre cómo usar tecnologías como <b>Python</b> y <b>Django</b> para construir sitios web funcionales y hermosos. Desde los conceptos básicos hasta proyectos más avanzados, mi objetivo es ayudarte a pasar de la idea a la realidad, transformando tu visión en una página web real.
        </p>
        <p>
            Espero que encuentres aquí la inspiración y las herramientas que necesitas para crear tu propio rincón en internet. ¡Juntos, vamos a construir tu primera gran página!
        </p>
    </div>
{% endblock %}